<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 注：上传文件时必须加上：enctype="multipart/form-data" -->
    <form action="/upload-file/upload3" enctype="multipart/form-data" method="POST">

        <div>
            姓名：<input type="text" name="username">
        </div>
        <div>
            年龄：<input type="number" name="age">
        </div>

        <!-- 多文件上传 -->
        <div>文件上传1：<input type="file" name="pic1"></div>
        <div>文件上传2：<input type="file" name="pic2"></div>
        <div>文件上传3：<input type="file" name="pic3"></div>
        <div>文件上传4：<input type="file" name="pic4"></div>
        <div>文件上传5：<input type="file" name="pic5"></div>

        <div>
            <input type="submit" value="提交">
        </div>
    </form>
</body>

</html>